<div class="item">
<div>Imagem da receita</div>
    <div>
        <input
            type="url" 
            name="receita_url"
            placeholder="http://"
            value="{{instructor.receita_url}}"
        >
    </div>
</div>

<div class="item">
    <div>Ingredientes</div>
    <div>
        <input
            type="text"
            name="name"
            value="{{instructor.name}}"
        >
        <div><a>Adcionar novo ingrediente</a></div>
    </div>
</div>

<div class="item">
    <div>Modo de preparo</div>
    <div>
        <input
            type="text"
            name="name"
            value="{{instructor.name}}"
        >
        <div><a>Adcionar novo passo</a></div>
    </div>
</div>

<div class="item">
    <div>Informações adcionais</div>
    <div>
        <input class="text-area"
            type="text"
            name="name"
            value="{{instructor.name}}"
        >
    </div>
</div>

    <button type="submit">Salvar receita</button>