{% extends "layouts/admin.njk" %}

{% block content %}
    <main>
        <div class="title">
            <h1>Gerenciar receita</h1>
            <button class="button">
                <a href="/admin/recipes/create">Nova receita</a>
            </button>
        </div>

        <div class="cards-admin">
            
            {% for recipe in recipes %}
            <div class="card-admin" name="{{recipe.title}}">
                <div class="card-admin-img">
                    <img src="{{recipe.image}}" alt="{{recipe.title}}">
                </div>
                <div class="card-admin-text">
                    <h2>{{recipe.title}}</h2>
                    <h3>por {{recipe.author}}</h3>
                    <a href="/admin/recipes/{{recipe.index -1}}">Visualizar</a>
                </div>
            </div>
            {% endfor %}
           
        </div>
    </main>
    
    <script src="/javascript/script.js"></script>
{% endblock %}