{% extends "layouts/admin.njk" %}


{% block content %}

        <form class="card-recipe" method="POST" action="/admin/recipes" enctype="multipart/form-data">
            <div class="title">
                <h1>Criar Usuário</h1>
                <div>
                    <a class="button" href="list">
                        Cancelar
                    </a>
                    <button type="submit">Salvar</button>
                </div>        
            </div>
                        
            <section class="details user-details">

                {% include 'admin/users/fields.njk' %}
        
            </section>
        </form>
        
        {# <script src="/javascript/script.js"></script> #}
{% endblock %}