{% extends "layouts/admin.njk" %}

{% block head %}
    <title>Admin Users - Foodfy</title>
{% endblock %}

{% block content %}
    <main>
        <form 
            class="card-user"
            action="/admin/users/{{user.index}}?_method=put" 
            method="POST"
            >

            <div class="title">
                <h1>Bem vindo Diego</h1>
                <button type="submit"class="button">Salvar</button>
            </div>

            <section class="details user-details">

                {% include 'admin/users/fields.njk' %}
        
            </section>

        </form>

        

    </main>
{% endblock content %}
