{% extends "layouts/admin.njk" %}

{% block head %}
    <title>Cadastrar chef | Foodfy</title>
{% endblock head %}

{% block content %}
    <main>
        <form method="POST" action="/admin/chefs" enctype="multipart/form-data">
            <div class="title">
                <h1>Criando chef</h1>

                <button type="submit">Salvar chef</button>
            </div>

            <section class="details">

                {% include 'admin-access/chef/fields.njk' %}

            </section>
        </form>
    </main>
{% endblock content %}