{% extends "layouts/admin.njk" %}

{% block head %}
    <title>Atualizar chef</title>
{% endblock head %}

{% block content %}
    <main>
        <form 
            class="card-chef"
            action="/admin/chefs?_method=PUT"
            method="POST"
            enctype="multipart/form-data"
            >

            <div class="edit-title">
                <h1>Editar chef</h1>

                <button id="button-delete" type="submit" form="form-delete">Deletar</button>
                <button type="submit">Salvar chef</button>
            </div>

            <section class="details">

                {% include 'admin-access/chef/fields.njk' %}
        
                <input type="hidden" name="id" value={{chef.id}}>
            </section>

        </form>

        <form id="form-delete" action="/admin/chefs?_method=DELETE" method="POST">
            <input type="hidden" name="id" value="{{chef.id}}">
        </form>
    </main>

    {% include "admin-access/confirm.njk"%}

{% endblock content %}