<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        {% block head %}
            <title>Admin - Foodfy</title>
        {% endblock %}

        <link rel="stylesheet" href="/styles/main.css">
        <link rel="stylesheet" href="/styles/admin.css">
        <link rel="stylesheet" href="/styles/cards.css">   
        <link rel="stylesheet" href="/styles/receitas.css">   
        <link rel="stylesheet" href="/styles/sobre.css">   
    </head>

    <body>
        <div class="menu">
            <div id="menu-img">
                <img src="/assets/logo.png" alt="">
            </div>   
                       
        {% block content %} {% endblock %}

        <footer>
            <h3>Todos direitos reservados, receitas Foody</h3>
        </footer>
    </body>
</html>