{% extends "layout.njk" %}


{% block head %}
    <title>Foodfy</title>

    <link rel="stylesheet" href="/styles/modal.css">
{% endblock %}


{% block content %}
            <a href="/about">
                <h2>Sobre</h2>
            </a>
            <a href="/recipes">
                <h2>Receitas</h2>
            </a>
        </nav>

        <div class="banner">
            <div class="banner-text">
                <h1>As melhores receitas</h1>
                <p>
                    Aprenda a construir as melhores pratos com receitas criadas por profissionais do mundo inteiros.
                </p>
            </div>
            <div id="banner-img">
                <img src="/layouts/assets/chef.png" alt="Chef">
            </div>    
        </div>
    </header>

    <main>
        <h1>Mais acessados</h1>

        <div class="cards">
            
            {% for recipe in recipes %}
            <div class="card">
                <a>
                    <img src="{{recipe.image}}" alt="{{recipe.title}}">
                    <h2>{{recipe.title}}</h2>
                    <h3>{{recipe.author}}</h3>
                </a>
            </div>
            {% endfor %}
           
        </div>

        {# <div class="modal-overlay">
            <div class="modal">
                <img src="/layouts/assets/asinhas.png" alt="Asinhas de frango">
                <h2>Asinhas de frango ao barbecue</h2>
                <p>por Vania Steroski</p>
                
                <a class="close-modal">
                    <h3>Sair</h3>
                </a>
            </div>
        </div> #}
    </main>
    
    <script src="/javascript/script.js"></script>
{% endblock %}