{% extends "layout.njk" %}


{% block head %}
    <title>Foodfy</title>

    <link rel="stylesheet" href="/styles/modal.css">
{% endblock %}


{% block content %}
            <a href="/about">
                <h2>Sobre</h2>
            </a>
            <a href="/recipes">
                <h2>Receitas</h2>
            </a>
        </nav>

        <div class="banner">
            <div class="banner-text">
                <h1>As melhores receitas</h1>
                <p>
                    Aprenda a construir as melhores pratos com receitas criadas por profissionais do mundo inteiros.
                </p>
            </div>
            <div id="banner-img">
                <img src="/layouts/assets/chef.png" alt="Chef">
            </div>    
        </div>
    </header>

    <main>
        <h1>Mais acessados</h1>

        <div class="cards">
            <div class="card">
                <a>
                    <img src="/layouts/assets/burger.png" alt="Triplo bacon burguer">
                    <h2>Triplo bacon burguer</h2>
                    <h3>por Jorge Relato</h3>
                </a>
            </div>

            <div class="card">
                <a>
                    <img src="/layouts/assets/pizza.png" alt="Pizza 4 estações">
                    <h2>Pizza 4 estações</h2>
                    <h3>por Fabiana Melo</h3>
                </a>
            </div>

            <div class="card">
                <a>
                    <img src="/layouts/assets/espaguete.png" alt="Espaguete ao molho">
                    <h2>Espaguete ao molho</h2>
                    <h3>por Júlia Kinoto</h3>
                </a>
            </div>

            <div class="card">
                <a>
                    <img src="/layouts/assets/lasanha.png" alt="Lasanha mac n' cheese">
                    <h2>Lasanha mac n' cheese</h2>
                    <h3>por Juliano Vieira</h3>
                </a>
            </div>

            <div class="card">
                <a>
                    <img src="/layouts/assets/doce.png" alt="Docinhos pão-do-céu">
                    <h2>Docinhos pão-do-céu</h2>
                    <h3>por Ricardo Golvea</h3>
                </a>
            </div>

            <div class="card">
                <a>
                    <img src="/layouts/assets/asinhas.png" alt="Asinhas de frango ao barbecue">
                    <h2>Asinhas de frango ao barbecue</h2>
                    <h3>por Vania Steroski</h3>
                </a>
            </div>

        </div>

        <div class="modal-overlay">
            <div class="modal">
                <img src="/layouts/assets/asinhas.png" alt="Asinhas de frango">
                <h2>Asinhas de frango ao barbecue</h2>
                <p>por Vania Steroski</p>
                
                <a class="close-modal">
                    <h3>Sair</h3>
                </a>
            </div>
        </div>
    </main>
    
    <script src="/javascript/script.js"></script>
{% endblock %}