{% extends "layout.njk" %}


{% block head %}
    <title>Foodfy</title>

    <link rel="stylesheet" href="/styles/receitas.css">
    <link rel="stylesheet" href="/styles/modal.css">   
{% endblock %}


{% block content %}
            <a href="/about">
                <h2>Sobre</h2>
            </a>
            <a id="active">
                <h2>Receitas</h2>
            </a>
        </nav>  
    </header>

    <main>
        
    </main>
         
    <script src="/javascript/script.js"></script>

{% endblock %}