{% extends "layouts/main.njk" %}


{% block head %}
    <title>Foodfy</title>
{% endblock %}


{% block content %}
    <main>
        <div class="banner">
            <div class="banner-text">
                <h1>As melhores receitas</h1>
                <p>
                    Aprenda a construir as melhores pratos com receitas criadas por profissionais do mundo inteiros.
                </p>
            </div>
            <div id="banner-img">
                <img src="/layouts/assets/chef.png" alt="Chef">
            </div>    
        </div>
    
    
        <h1>Mais acessados</h1>

        <div class="cards">
            
            {% for recipe in recipes %}
            <div class="card" name="{{recipe.title}}">
                <a href="/recipe/{{recipe.id}}">
                    <img src="{{recipe.image}}" alt="{{recipe.title}}">
                    <h2>{{recipe.title}}</h2>
                    <h3>por {{recipe.chef_name}}</h3>
                </a>
            </div>
            {% endfor %}

        </div>
    </main>
    
    <script src="/javascript/script.js"></script>
{% endblock %}