{% extends "layouts/main.njk" %}


{% block head %}
    <title>Foodfy</title>
{% endblock %}


{% block search %}
    <div id="login-button">
        <a href="/">
            <h3>LOGIN</h3>
        </a>
    </div>

    <form action="/search" method="get" id="search">
        <input 
            type="text"
            name="filter"
            value="{{ filter }}"
            placeholder="Buscar uma receita"
        >
        <button type="submit" class="button">
            Buscar
        </button>
    </form>

{% endblock %}

{% block content %}
    <main>
        <div class="banner">
            <div class="banner-text">
                <h1>As melhores receitas</h1>
                <p>
                    Aprenda a construir as melhores pratos com receitas criadas por profissionais do mundo inteiros.
                </p>
            </div>
            <div id="banner-img">
                <img src="/layouts/assets/chef.png" alt="Chef">
            </div>    
        </div>
    
    
        <h1>Mais acessados</h1>

        <div class="cards">
            
            {% for recipe in recipes %}
            <div class="card" name="{{recipe.title}}">
                <a href="/recipe/{{recipe.id}}">
                    <img src="{{recipe.image}}" alt="{{recipe.title}}">
                    <h2>{{recipe.title}}</h2>
                    <h3>por {{recipe.chef_name}}</h3>
                </a>
            </div>
            {% endfor %}

        </div>
    </main>
    
    <script src="/javascript/script.js"></script>
{% endblock %}