{% extends "layouts/main.njk" %}


{% block head %}
    <title>{{recipe.title}} - Foodfy</title>

    <link rel="stylesheet" href="/styles/receitas.css">
{% endblock %}


{% block content %}
    <main>
        <section>
            <div class="gallery">
                <div class="highlight">
                    {% if not files[0] %}
                        <img src="http://placehold.it/500x500?text=Produto Sem Foto" alt="Produto Sem Foto">
                    {% else %}
                        <img src="{{files[0].src}}" alt="{{files[0].name}}">  
                    {% endif %}
                </div>

                <div class="gallery-preview">
                    {% for photo in files %}
                        <img 
                            src="{{photo.src}}" 
                            alt="{{photo.name}}"
                            {% if loop.index0 == 0 %} 
                                class="active" 
                            {% endif %}
                            onclick="ImageGallery.setImage(event)"
                        >
                    {% endfor %}
                </div>
            </div>   
            
            <h1>{{recipe.title}}</h1>
            <p>por {{recipe.chef_name}}</p>
        </section>
        
        <div class="recipe-information">
            <div class="ingredientes">
                <h2>Ingredientes</h2>
                <span class="hide">ESCONDER</span>
                <div class="information">
                    <ul>
                        {% for ingredient in recipe.ingredients%}
                        <li>{{ingredient}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="recipe-information">
            <div class="modo-de-preparo">
                <h2>Modo de Preparo</h2>
                <span class="hide">ESCONDER</span>
                <div class="information">
                    <ul>
                        {% for steps in recipe.preparation %}
                        <li>{{steps}}</li>
                        {% endfor %}
                    </ul>
                </div>    
            </div>
        </div>

        <div class="recipe-information">
            <div class="informacoes-adicionais">
                <h2>Informações adcionais</h2>
                <span class="hide">ESCONDER</span>
                <div class="information">
                    <p>{{recipe.information}}</p>
                </div>
            </div>
        </div>
    </main>
    
    {% include "main/hideShow.njk" %}

    <script src="/javascript/script.js"></script>
{% endblock %}