{% extends "layouts/admin.njk" %}


{% block content %}
    <form class="card-recipe" method="POST" action="/admin/recipes" enctype="multipart/form-data">
        <div class="title">
            <h1>Criando receita</h1>

            <button type="submit">Salvar receita</button>
        </div>
        
        <section class="details">

            {% include 'admin-access/recipe/fields.njk' %}

        </section>
            
    </form>
        
    {% include "admin-access/recipe/addItems.njk" %}

{% endblock content %}