{% extends "layouts/admin.njk" %}


{% block content %}

        <form class="card-recipe" method="POST" action="/admin/recipes">
            <div class="title">
                <h1>Criando receita</h1>
                <button type="submit">Salvar receita</button>
            </div>
                        
            <section class="details">

                {% include 'admin/recipes/fields.njk' %}
        
            </section>
        </form>
    
    <script src="/javascript/script.js"></script>
{% endblock %}