{% extends "layouts/admin.njk" %}


{% block content %}
    <main>
        <form 
            class="card-chef" 
            action="/admin/chefs/{{chef.index}}?_method=put"
            method="POST"
            enctype="multipart/form-data"
            >
            
            <div class="edit-title">
                <h1>Editar chef</h1>
                <button class="button-delete" type="submit" form="form-delete">Deletar</button>
                <button type="submit">Salvar chef</button>
            </div>
                        
            <section class="details">

                {% include 'admin-access/chefs/fields.njk' %}
        
            </section>

            <input type="hidden" name="id" value={{chef.id}}>
        </form>
        
        <form id="form-delete" action="/admin/chefs/{{chef.index}}?_method=delete" method="post">
            <input type="hidden" name="id" value={{chef.id}}>
        </form>
    </main>

    {# {% include "admin/chefs/confirmChefDelete.njk" %} #}


    {# <script src="/javascript/script.js"></script> #}
{% endblock %}