.menu {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: var(--color-black);
    height: 80px;

    margin-bottom: 3.3%;
}

.menu_width {
    display: flex;
    max-width: 940px;
    margin: 0 auto 0 auto;
    flex: 1;
}

.menu a:first-child {
    margin-right: 50.4px;
}

.menu a {
    margin-right: 30px;
    align-self: center;
}

.menu h2 {
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    color: #999999;
}


.card-recipe {
    min-height: 400px;

    max-width: 940px;
    margin: 0 auto 76px auto;
}

.title {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 24px;
}

.title_apresentation{
    display: grid;
}

.title_apresentation h1 {
    font-size: 36px;
    text-align: center;
}

.title_apresentation p {
    margin: 4px 0 31px;
    color: #777777;
    font-size: 20px;
}

.edit-title {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
}

.card-recipe .edit-title .button-delete[type="submit"] {
    background-color: red;
}

.card-recipe h1 {
    font-size: 24px;
    align-self: center;
}

.button,
button[type="submit"],
.title button {
    background-color: #6558c3;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;

    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    border-color: unset;

    max-width: 143px;
    justify-self: self-end;

    padding: 9px 20px;

    border-width: 0;
}
 
.details .item {
    padding-top: 30px;
}

.details .item div:nth-child(1) {
    font-size: 16px;
    color: var(--color-black);
    letter-spacing: 0.7px;
    font-weight: bold;
}

.details .item div:nth-child(2) {
    color: #555555;
    font-weight: bold;
    font-size: 18px;
    padding-top: 10px;
}

.add-item {
    margin-top: 10px;
    margin-bottom: 10px;
}

.add-item a {
    color: #6558c3;
    font-weight: bold;
}


input {
    width: 100%;
    border: 1px solid #dddddd;
    outline: none;
    color: #111111;
    font-weight: normal;
    font-size: 18px;
    height: 49px;
    padding-left: 10px;
}

.ingredients input {
    margin-bottom: 10px;
}

.details .text-area {
    height: 257px;
    width: 100%;
    border: 1px solid #dddddd;
    outline: none;
    color: #111111;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
}

.cards-admin {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.card-admin {
    display: grid;
    grid-template-columns: 40% 60%;
}

.card-admin-img {
    display: flex;
}

.card-admin img {
    border-radius: 15px;
    height: 84px;
    width: 100%;
}

.card-admin h2 {
    margin-top: 10px;
    color: #111111;
    font-size: 18px;
    font-weight: normal;
    padding-left: 15px;
    text-align: left;
}

.card-admin h3 {
    color: #777777;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    padding-left: 15px;
    text-align: left;
}

.card-admin a {
    color: #6558c3;
    padding-left: 15px;
    font-weight: bold;
}

/* EDIT */
.details {
    margin: 0 auto 0;
    max-width: 940px;
}

.details img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    margin-bottom: 50px;
    border-radius: 15px;
}

.details .content ul {
    list-style-type: none;
    margin-bottom: 41px;    
}

.details .content li,
.details .content {
    font-size: 18px;
    color: #444444;
    line-height: 28px;
}

/* CHEFS */
.chefPosition {
    display: grid;
    justify-content: center;
    margin-top: 51px;
    text-align: center;
}

.chefPosition img,
.chefsPosition img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 30px;
}

.chefPosition h1 {
    font-size: 36px;
    margin-bottom: 4px;
}

.chefPosition h3 {
    font-size: 20px;
    color: #777777;
    font-weight: normal;
}

.chefRecipe {
    margin-top: 50px;
    margin-bottom: 30px;
}

.chefsPosition {
    display: grid;
    justify-content: start;
    grid-template-columns: 64px 200px;
    gap: 20px;
}

.chefsPosition img {
    width: 64px;
    height: 64px;
    margin-bottom: 0px;
}

.chefsText {
    align-self: center;
}

.chefsText a{
    color: #6558c3;
    font-weight: bold;
    font-size: 14px;
}

.chefsText h1{
    color: #111111;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 10px;
}