.menu {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: var(--color-black);
    height: 80px;

    margin-bottom: 3.3%;
}

.menu_width {
    display: flex;
    max-width: 940px;
    margin: 0 auto 0 auto;
    flex: 1;
}

.menu a:first-child {
    margin-right: 50.4px;
}

.menu a {
    margin-right: 30px;
    align-self: center;
}

.menu h2 {
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    color: #999999;
}


.card-recipe {
    min-height: 400px;

    max-width: 940px;
    margin: 0 auto 76px auto;
}

.title {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 24px;
}

.title_apresentation{
    display: grid;
}

.title_apresentation h1 {
    font-size: 36px;
    text-align: center;
}

.title_apresentation p {
    margin: 4px 0 31px;
    color: #777777;
    font-size: 20px;
}

.edit-title {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
}

.card-recipe .edit-title .button-delete[type="submit"],
.card-chef .edit-title .button-delete[type="submit"] {
    background-color: red;
}

.card-recipe h1 {
    font-size: 24px;
    align-self: center;
}

.button,
button[type="submit"],
.title button {
    background-color: #6558c3;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;

    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    border-color: unset;

    max-width: 143px;
    justify-self: self-end;

    padding: 9px 20px;

    border-width: 0;
}
 
.details .item {
    padding-top: 30px;
}

.details .item div:nth-child(1) {
    font-size: 16px;
    color: var(--color-black);
    letter-spacing: 0.7px;
    font-weight: bold;
}

.details .item div:nth-child(2) {
    color: #555555;
    font-weight: bold;
    font-size: 18px;
    padding-top: 10px;
}

.add-item {
    margin-top: 10px;
    margin-bottom: 10px;
}

.add-item a {
    color: #6558c3;
    font-weight: bold;
}


/* CREATE RECIPE */
#photos-upload {
   width: 35%;
   cursor: pointer;
   position: relative;
}

.item #photos-upload p {
    padding: 8px 16px;
    border-radius: 4px;
    box-shadow: 0 2px 2px -6px #333333;
    background-color: rgba(55, 66, 114, 0.74);
    color: white;

    width: 100%;
    text-align: center;

    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
}

.item #photos-input {
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;

    cursor: pointer;
}


#photos-preview {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
    width: 100%;
    height: 100%;
    margin: 8px 0;    
}

#photos-preview img {
    width: 100%;
    height: 150px;

    object-fit: cover;
    margin-bottom: 0;   
}

#photos-preview .photo {
    display: flex;
    position: relative;

    align-self: center;
    padding-top: 0;
}

#photos-preview .photo i {
    position: absolute;
    top: 0;
    left: 0;

    background: rgba(255, 255, 255, 0.8);

    color: red;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 500%;
    cursor: pointer;

    transition: opacity 200ms;

    opacity: 0;
}

#photos-preview .photo:hover i {
    opacity: 1;
}


input, select {
    width: 100%;
    border: 1px solid #dddddd;
    outline: none;
    color: #111111;
    font-weight: normal;
    font-size: 18px;
    height: 49px;
    padding-left: 10px;
}

.ingredients input,
.steps input {
    margin-bottom: 10px;
}

.details .text-area {
    height: 257px;
    width: 100%;
    border: 1px solid #dddddd;
    outline: none;
    color: #111111;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
}

.cards-admin {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.card-admin {
    display: grid;
    grid-template-columns: 40% 60%;
}

.card-admin-img {
    display: flex;
}

.card-admin img {
    border-radius: 15px;
    height: 84px;
    width: 100%;
    object-fit: cover;
}

.card-admin h2 {
    margin-top: 10px;
    color: #111111;
    font-size: 18px;
    font-weight: normal;
    padding-left: 15px;
    text-align: left;
}

.card-admin h3 {
    color: #777777;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    padding-left: 15px;
    text-align: left;
}

.card-admin a {
    color: #6558c3;
    padding-left: 15px;
    font-weight: bold;
}



/* EDIT recipe */
.details {
    margin: 0 auto 0;
    max-width: 940px;
}

.details img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    margin-bottom: 50px;
    border-radius: 15px;
}

.details .content ul {
    list-style-type: none;
    margin-bottom: 41px;    
}

.details .content li,
.details .content {
    font-size: 18px;
    color: #444444;
    line-height: 28px;
}



/* CHEFS */
.chef-admin-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 20px;
    gap: 20px;
}

.chefPosition {
    display: grid;
    justify-content: center;
    margin-top: 51px;
    text-align: center;
}

.chefPosition img,
.chefsPosition img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 30px;
}

.chefPosition h1 {
    font-size: 36px;
    margin-bottom: 4px;
}

.chefPosition h3 {
    font-size: 20px;
    color: #777777;
    font-weight: normal;
}

.chefRecipe {
    margin-top: 50px;
    margin-bottom: 30px;
}

.chefsPosition {
    display: grid;
    justify-content: start;
    grid-template-columns: 64px 135px;
    gap: 20px;
}

.chefPosition img {
    justify-self: center;
}

.chefsPosition img {
    width: 64px;
    height: 64px;
    margin-bottom: 0px;
}

.chefsText {
    display: flex;
    flex-direction: column;
    align-self: auto;
}

.chefsText a{
    color: #6558c3;
    font-weight: bold;
    font-size: 14px;
}

.chefsText h1{
    color: #111111;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 8px;
    /* flex: 1; */
}

.chefsText h3 {
    color: #666666;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 4px;
}




/* RECIPES GALLERY SHOW RECIPES */
.details .gallery {
    width: 100%;
}

.details .highlight > img {
    width: 100%;
    height: 280px;

    object-fit: cover;
    object-position: 50% 50%;

    border: 1px solid #efefef;

    cursor: zoom-in;
}

.details .gallery-preview {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2px;

    margin-bottom: 50px;
}

.details .gallery-preview img {
    height: 150px;
    width: 100%;

    object-fit: cover;

    opacity: 0.6;

    cursor: pointer;

    transition: 200ms;

    margin: 0;
}

.details .gallery-preview img:hover,
.details .gallery-preview img.active {
    opacity: 1;
}