.menu {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: var(--color-black);
    height: 80px;

    margin-bottom: 3.3%;
}

.menu_width {
    display: flex;
    max-width: 940px;
    margin: 0 auto 0 auto;
    flex: 1;
}

.menu a:first-child {
    margin-right: 50.4px;
}

.menu a {
    margin-right: 30px;
    align-self: center;
}

.menu h2 {
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    color: #999999;
}


.card-recipe {
    min-height: 400px;

    max-width: 940px;
    margin: 0 auto 76px auto;
}

.title {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 24px;
}

.title_apresentation{
    display: grid;
}

.title_apresentation h1 {
    font-size: 36px;
    text-align: center;
}

.title_apresentation p {
    margin: 4px 0 31px;
    color: #777777;
    font-size: 20px;
}

.edit-title {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
}

.card-recipe .edit-title .button-delete[type="submit"],
.card-chef .edit-title .button-delete[type="submit"] {
    background-color: red;
}

.card-recipe h1 {
    font-size: 24px;
    align-self: center;
}

.button,
button[type="submit"],
.title button {
    background-color: var(--primary-color);
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;

    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    border-color: unset;

    max-width: 143px;
    justify-self: self-end;

    padding: 9px 20px;

    border-width: 0;
}
 
.details .item {
    padding-top: 30px;
}

.details .item div:nth-child(1) {
    font-size: 16px;
    color: var(--color-black);
    letter-spacing: 0.7px;
    font-weight: bold;
}

.details .item div:nth-child(2) {
    color: #555555;
    font-weight: bold;
    font-size: 18px;
    padding-top: 10px;
}

.add-item {
    margin-top: 10px;
    margin-bottom: 10px;
}

.add-item a {
    color: var(--primary-color);
    font-weight: bold;
}


/* CREATE RECIPE photo*/
#photos-upload {
   width: 35%;
   cursor: pointer;
   position: relative;
}

.item #photos-upload p {
    padding: 8px 16px;
    border-radius: 4px;
    box-shadow: 0 2px 2px -6px #333333;
    background-color: rgba(55, 66, 114, 0.74);
    color: white;

    width: 100%;
    text-align: center;

    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
}

.item #photos-input {
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;

    cursor: pointer;
}


#photos-preview {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
    width: 100%;
    height: 100%;
    margin: 8px 0;    
}

#photos-preview img {
    width: 100%;
    height: 150px;

    object-fit: cover;
    margin-bottom: 0;   
}

#photos-preview .photo {
    display: flex;
    position: relative;

    align-self: center;
    padding-top: 0;
}

#photos-preview .photo i {
    position: absolute;
    top: 0;
    left: 0;

    background: rgba(255, 255, 255, 0.8);

    color: red;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 500%;
    cursor: pointer;

    transition: opacity 200ms;

    opacity: 0;
}

#photos-preview .photo:hover i {
    opacity: 1;
}


/* FORM ADMIN */
input, select {
    width: 100%;
    border: 1px solid #dddddd;
    outline: none;
    color: #111111;
    font-weight: normal;
    font-size: 18px;
    height: 49px;
    padding-left: 10px;
}

.ingredients input,
.steps input {
    margin-bottom: 10px;
}

.details .text-area {
    height: 257px;
    width: 100%;
    border: 1px solid #dddddd;
    outline: none;
    color: #111111;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding-left: 10px;
    padding-top: 15px;
    font-family: 'Roboto', sans-serif;
}

.cards-admin {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.card-admin {
    display: grid;
    grid-template-columns: 40% 60%;
}

.card-admin-img {
    display: flex;
}

.card-admin img {
    border-radius: 15px;
    height: 84px;
    width: 100%;
    object-fit: cover;
}

.card-admin h2 {
    margin-top: 10px;
    color: #111111;
    font-size: 18px;
    font-weight: normal;
    padding-left: 15px;
    text-align: left;
}

.card-admin h3 {
    color: #777777;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    padding-left: 15px;
    text-align: left;
}

.card-admin a {
    color: var(--primary-color);
    padding-left: 15px;
    font-weight: bold;
}



/* EDIT recipe */
.details {
    margin: 0 auto 0;
    max-width: 940px;
}

.details img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    margin-bottom: 50px;
    border-radius: 15px;
}

.details .content ul {
    list-style-type: none;
    margin-bottom: 41px;    
}

.details .content li,
.details .content {
    font-size: 18px;
    color: #444444;
    line-height: 28px;
}


/* FORM CHEF photo*/
.item #avatar-upload {
   width: 20%;
   cursor: pointer;
   position: relative;
}

.item #avatar-upload p {
    margin-bottom: 15px;
    padding: 8px 16px;
    border-radius: 4px;
    box-shadow: 0 2px 2px -6px #333333;
    background-color: var(--primary-color);
    color: white;

    width: 100%;
    text-align: center;

    font-size: 14px;
    cursor: pointer;
}

.item #avatar-input {
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;

    cursor: pointer;
}

.item #avatar-photo-preview {
    display: flex;
    width: 200px;
    height: 100%;
    margin: 8px 0;    
}

.item #avatar-photo-preview img {
    width: 200px;
    height: 200px;

    border-radius: 50%;

    object-fit: cover;
    margin-bottom: 0;   
}

.item #avatar-photo-preview .photo {
    display: flex;
    position: relative;

    align-self: center;
    padding-top: 0;
}

.item #avatar-photo-preview .photo i {
    position: absolute;
    top: 0;
    left: 0;

    background: rgba(255, 255, 255, 0.8);

    color: red;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 500%;
    cursor: pointer;

    transition: opacity 200ms;

    opacity: 0;
}

.item #avatar-photo-preview .photo:hover i {
    opacity: 1;
}


/* LIST OF CHEFS */
.chef-admin-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 20px;
    gap: 20px;
}

.chefPosition {
    display: grid;
    justify-content: center;
    margin-top: 51px;
    text-align: center;
}

.chefPosition img,
.chefsPosition img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 30px;
}

.chefPosition h1 {
    font-size: 36px;
    margin-bottom: 4px;
}

.chefPosition h3 {
    font-size: 20px;
    color: #777777;
    font-weight: normal;
}

.chefRecipe {
    margin-top: 50px;
    margin-bottom: 30px;
}

.chefsPosition {
    display: grid;
    justify-content: start;
    grid-template-columns: 64px 135px;
    gap: 20px;
}

.chefPosition img {
    justify-self: center;
}

.chefsPosition img {
    width: 64px;
    height: 64px;
    margin-bottom: 0px;
}

.chefsText {
    display: flex;
    flex-direction: column;
    align-self: auto;
}

.chefsText a{
    color: var(--primary-color);
    font-weight: bold;
    font-size: 14px;
}

.chefsText h1{
    color: #111111;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 8px;
    /* flex: 1; */
}

.chefsText h3 {
    color: #666666;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 4px;
}




/* RECIPES GALLERY SHOW RECIPES */
.details .gallery {
    width: 100%;
}

.details .highlight > img {
    width: 100%;
    height: 280px;

    object-fit: cover;
    object-position: 50% 50%;

    border: 1px solid #efefef;

    cursor: zoom-in;
}

.details .gallery-preview {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2px;

    margin-bottom: 50px;
}

.details .gallery-preview img {
    height: 150px;
    width: 100%;

    object-fit: cover;

    opacity: 0.6;

    cursor: pointer;

    transition: 200ms;

    margin: 0;
}

.details .gallery-preview img:hover,
.details .gallery-preview img.active {
    opacity: 1;
}


/* LIGHTBOX RECIPES GALLERY */
.details .highlight .lightbox-target {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);

    overflow: hidden;
    z-index: 100;

    top: -100%;
    left: 0;
    opacity: 0;

    transition: opacity 400ms;
}

.details .highlight .lightbox-target img {
    margin: auto;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: rgb(168, 116, 85);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .3);

    width: 90%;
    height: 90%;

    object-fit: contain;
}

.details .highlight a.lightbox-close {
    width: 50px;
    height: 50px;

    background: rgb(252, 93, 1);

    position: absolute;
    top: -80px;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 400ms;
}

.details .highlight .lightbox-target i {
    color: rgb(255, 255, 255);
}




/* Usuário Logado */
.user-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* .user-details .item:first-child,
.user-details .item
{
    padding-right: 5%;
} */

.user-details .item:first-child + .item {
    padding-left: 5%;
}





/* GERENCIAMENTO DE USUÁRIOS: LISTAGEM */
.cards-admin-users {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}

.card-admin-user h2 {
    margin-top: 10px;
    color: #111111;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
}

.card-admin-user h3 {
    color: #777777;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    text-align: left;
}

.card-admin-user .user-action {
    margin-top: 15px;
}

.card-admin-user .user-action a {
    font-size: 14px;
    font-weight: bold;

    color: rgb(0, 60, 255);
}

.card-admin-user .user-action a + a {
    color: red;
    margin-left: 30px;
}


/* PAGE ADMIN CRIAR USUÁRIO */
.title > div {
    text-align: right;
}

.title a {
    margin-right: 30px;
    background-color: gray;
}

.checkbox-admin {
    width: 150px;
    
    display: flex;
    align-items: center;

    margin-top: 30px;
}

.checkbox-admin input {
    box-shadow: none;
    height: unset;
}

.checkbox-admin div:last-child {
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;  
}



@keyframes hidemessage {
to {
    top: -50px;
    opacity: 0;
    }
}

.messages {
    z-index: 999;
    display: flex;
    justify-content: center;
    padding: 16px;
    position: absolute;
    width: 100%;
    color: white;
    top: 0;
    opacity: 1;

    animation: hidemessage 400ms 5s ease-out forwards;
}

.messages.error {
    background-color: #e74c3c;
}

.messages.success {
    background-color: rgb(122, 182, 30);
}