main {
    margin-top: 50px;
}

main h1 {
    font-size: 24px;
    color: var(--color-black);
}

.cards {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    cursor: pointer;
}

.card a {
    text-decoration: none;
}

.card:hover {
    background-color: rgb(201, 163, 163);
    transition: 400ms;
    border-radius: 15px;
}

.card img {
    border-radius: 15px;
    height: 140px;
}

.card h2 {
    margin-top: 20px;
    color: #111111;
    font-size: 18px;
    font-weight: normal;
    padding-left: 15px;
    text-align: left;
}

.card h3 {
    color: #777777;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    padding-left: 15px;
    margin-bottom: 15px;
    text-align: left;
}