.chef-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 20px;
    gap: 20px;
}

.chefPosition {
    display: grid;
    justify-content: center;
    margin-top: 51px;
    text-align: center;
}

.chefPosition img,
.chefsPosition img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 30px;
}

.chefPosition h1 {
    font-size: 36px;
    margin-bottom: 4px;
}

.chefPosition h3 {
    font-size: 20px;
    color: #777777;
    font-weight: normal;
}

.chefRecipe {
    margin-top: 50px;
    margin-bottom: 30px;
}

.chefsPosition {
    display: grid;
    justify-content: start;
    grid-template-columns: 64px 135px;
    gap: 20px;
}

.chefPosition img {
    justify-self: center;
}

.chefsPosition img {
    width: 64px;
    height: 64px;
    margin-bottom: 0px;
}

.chefsText {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.chefsText a{
    color: var(--primary-color);
    font-weight: bold;
    font-size: 14px;
}

.chefsText h1{
    color: #111111;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 10px;
    flex: 1;
}

.chefsText h3{
    color: #666666;
    font-size: 14px;
    font-weight: normal;
}