#active h2{
    font-weight: bold;
}

#active:hover {
    color: unset;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h1, h2 {
    color: var(--color-black);
}

main section img {
    border-radius: 15px;
    margin-bottom: 50px;
    width: 940px;
    height: 280px;
    object-fit: cover;
}

main section h1, p {
    text-align: center;
}

main section p {
    margin-top: 4px;
    margin-bottom: 50px;
    color: #777777;
    font-size: 20px;
}

span {
    font-size: 12px;
    color: #999999;
    cursor: pointer;
    margin-left: 8px;
    margin-bottom: 20px;
}

.ingredientes h2, .modo-de-preparo h2, .informacoes-adicionais h2 {
    display: contents;
}

.ingredientes, .modo-de-preparo, .informacoes-adicionais {
    margin-bottom: 40px;
}

.ingredientes li, .modo-de-preparo li,
.informacoes-adicionais p {
    font-size: 18px;
    line-height: 28px;
    text-align: left;
}

.ingredientes ul, .modo-de-preparo ul,
.informacoes-adicionais p {
    margin-top: 20px;
    margin-inline-start: 18px;
}


/* SEARCH RECIPES */
.search-recipes-container h1 {
    font-size: 24px;
    max-width: 940px;

    margin: 50px auto 0;
}



/* RECIPES GALLERY SHOW RECIPES */
.gallery {
    width: 100%;
}

.highlight > img {
    width: 100%;
    height: 280px;

    object-fit: cover;
    object-position: 50% 50%;

    border: 1px solid #efefef;

    cursor: zoom-in;
}

.gallery-preview {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2px;

    margin-bottom: 50px;
}

.gallery-preview img {
    height: 150px;
    width: 100%;

    object-fit: cover;

    opacity: 0.6;

    cursor: pointer;

    transition: 200ms;

    margin: 0;
}

.gallery-preview img:hover,
.gallery-preview img.active {
    opacity: 1;
}