{% extends "layouts/admin.njk" %}


{% block content %}

        <form 
            class="card-recipe" 
            action="/admin/recipes/{{recipe.index}}?_method=put"
            method="POST"
            enctype="multipart/form-data"
            >
            
            <div class="edit-title">
                <h1>Editar receita</h1>
                <button class="button-delete" type="submit" form="form-delete">Deletar</button>
                <button type="submit">Salvar receita</button>
            </div>
                        
            <section class="details">

                {% include 'admin/recipes/fields.njk' %}
        
            </section>

            <input type="hidden" name="id" value={{recipe.id}}>
        </form>
        
        <form id="form-delete" action="/admin/recipes/{{recipe.index}}?_method=delete" method="post">
            <input type="hidden" name="id" value={{recipe.id}}>
        </form>

        {% include "admin/confirm.njk" %}


    {% include "admin/recipes/addItems.njk" %}
    <script src="/javascript/script.js"></script>
{% endblock %}