{% extends "layouts/main.njk" %}


{% block head %}
    <title>Receitas - Foodfy</title>

    <link rel="stylesheet" href="/styles/receitas.css"> 
{% endblock %}

{% block search %}
    <form id="search" action="/recipes" method="get">
        <input 
            type="text" 
            name="filter" 
            placeholder="Buscar uma receita" 
            value="{{filter}}"
        >

        <button type="submit">Buscar</button>
    </form>

{% endblock search %}

{% block content %}

    {% if filter %}
        <section class="search-recipes-container">
            <h1>Buscando por "{{filter}}"</h1>
        </section>
    {% endif %}

    {% if recipes.length == 0 %}
        <div class="notfound">
            <p>Nenhuma receita encontrada!</p>
        </div>
    {% endif %}

    <div class="cards">
            
        {% for recipe in recipes %}

            <div class="card" id="{{recipe.id}}">
                <img src="{{recipe.image}}" alt="{{recipe.title}}">
                <h2>{{recipe.title}}</h2>
                <h3>por {{recipe.chef_name}}</h3>
            </div>          
        {% endfor %}
           
    </div>

    <div class="pagination" 
            data-page={{pagination.page}}
            data-total={{pagination.total}} 
            data-filter={{filter}}
    ></div>

    {% include "public-access/pagination.njk" %}

{% endblock %}