{% extends "layouts/main.njk" %}


{% block head %}
    <title>Receitas - Foodfy</title>

    <link rel="stylesheet" href="/styles/receitas.css"> 
{% endblock %}


{% block content %}

    {% if filter %}
        <div class="search">
            <p>Buscando por "{{filter}}"</p>
        </div>
    {% endif %}

    {% if recipes.length == 0 %}
        <div class="notfound">
            <p>Nenhuma receita encontrada!</p>
        </div>
    {% endif %}

    <div class="cards">
            
        {% for recipe in recipes %}
            <div class="card" name="{{recipe.title}}">
                <a href="/recipe/{{recipe.id}}">
                    <img src="{{recipe.image}}" alt="{{recipe.title}}">
                    <h2>{{recipe.title}}</h2>
                    <h3>por {{recipe.chef_name}}</h3>
                </a>
            </div>
        {% endfor %}
           
    </div>

    <script src="/javascript/script.js"></script>

{% endblock %}