{% extends "layouts/main.njk" %}


{% block head %}
    <title>{{recipe.title}} - Foodfy</title>

    <link rel="stylesheet" href="/styles/receitas.css">
{% endblock %}


{% block content %}
    <main>
        {# <section> #}
        <section>
            <div class="gallery">
                <div class="highlight">
                    {# {% if not files[0] %}
                        <img 
                            src="http://placehold.it/500x500?text=Produto Sem Foto" 
                            alt="Produto Sem Foto"
                        />
                    {% else %}
                        <img 
                            src="{{recipe.image}}" 
                            alt="{{recipe.title}}" 
                            onclick="Lightbox.open()"
                        >  
                    {% endif %} #}

                    <img 
                            src="{{recipe.image}}" 
                            alt="{{recipe.title}}" 
                            onclick="Lightbox.open()"
                        >  
                
                    <div class="lightbox-target">
                        <img src="{{files[0].src}}" alt="{{files[0].name}}">
                            <a 
                                class="lightbox-close"
                                onclick="Lightbox.close()"
                            >

                                <i class="material-icons">
                                    close
                                </i>
                            </a>
                        </div>
                    </div>
                </div>         

                <div class="gallery-preview">
                    {% for image in files %}
                        <img 
                            src="{{image.src}}" 
                            alt="{{image.name}}"
                            {% if loop.index0 == 0 %} 
                                class="active" 
                            {% endif %}
                            onclick="ImageGallery.setImage(event)"
                        >
                    {% endfor %}
                </div>
            
            
            <h1>{{recipe.title}}</h1>
            <p>por {{recipe.chef_name}}</p>
        </section>
        

        
            {# <img src="{{recipe.image}}" alt="">
            
            <h1>{{recipe.title}}</h1>
            <p>por {{recipe.chef_name}}</p>
        </section> #}



        <div class="recipe-information">
            <div class="ingredientes">
                <h2>Ingredientes</h2>
                <span class="hide">ESCONDER</span>
                <div class="information">
                    <ul>
                        {% for ingredient in recipe.ingredients%}
                        <li>{{ingredient}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="recipe-information">
            <div class="modo-de-preparo">
                <h2>Modo de Preparo</h2>
                <span class="hide">ESCONDER</span>
                <div class="information">
                    <ul>
                        {% for steps in recipe.preparation %}
                        <li>{{steps}}</li>
                        {% endfor %}
                    </ul>
                </div>    
            </div>
        </div>

        <div class="recipe-information">
            <div class="informacoes-adicionais">
                <h2>Informações adcionais</h2>
                <span class="hide">ESCONDER</span>
                <div class="information">
                    <p>{{recipe.information}}</p>
                </div>
            </div>
        </div>
    </main>
    
    {% include "public-access/hideShow.njk" %}

{% endblock %}