{% extends "layouts/main.njk" %}


{% block head %}
    <title>Chefs - Foodfy</title>
{% endblock %}


{% block content %}
<main>
    <div class="chef-cards">

        {% for chef in chefs %}
        <div class="chefsPosition">
            <div>
                <img src="{{chef.image}}" alt="Imagem do chef">
            </div>
            <div class="chefsText">
                <h1>{{chef.name}}</h1>
                <h3>
                    {% if chef.total_recipes == 0%}
                        Nenhuma receita
                    {% endif %}
                    {% if chef.total_recipes == 1%}
                        {{chef.total_recipes}}
                        receita
                    {% endif %}
                    {% if chef.total_recipes > 1%}
                        {{chef.total_recipes}}
                        receitas
                    {% endif %}
                </h3>
            </div>
        </div>
        {% endfor %}

    </div>

</main>
{% endblock content %}
