{% extends "layouts/main.njk" %}


{% block head %}
    <title>Foodfy</title>
{% endblock %}


{% block search %}
    <form id="search" action="/recipes" method="get">
        <input 
            type="text" 
            name="filter" 
            placeholder="Buscar uma receita" 
            value="{{filter}}"
        >

        <button type="submit">Buscar</button>
    </form>

{% endblock search %}

{% block content %}
    <main>
        <div class="banner">
            <div class="banner-text">
                <h1>As melhores receitas</h1>
                <p>
                    Aprenda a construir as melhores pratos com receitas criadas por profissionais do mundo inteiros.
                </p>
            </div>
            <div id="banner-img">
                <img src="/layouts/assets/chef.png" alt="Chef">
            </div>    
        </div>
    
    
        <h1>Mais acessados</h1>

        <div class="cards">
            {% for i in range(0, 6) %}
                {% if recipes[i] %}
                    <div class="card" name="{{recipes.title}}">

                        <a href="/recipes/{{recipes.id}}">
                            <img src="{{recipes[i].image}}" alt="">
                            <h2>{{recipes[i].title}}</h2>
                            <h3>por {{recipes[i].chef_name}}</h3>
                        </a>
                    </div>
                {% endif %}

            {% endfor %}
        </div>

    </main>
    
{% endblock %}