<div class="item">
    <div>Imagem da receita</div>
    <div>
        <div id="photos-upload">
            <input 
                id="photos-input"
                type="file"
                name="photos"
                multiple
                accept="image/*"
                onchange="PhotosUpload.handleFileInput(event)"
            >
            <p>Selecione até 5 Fotos</p>
        </div>
        
        <div id="photos-preview">
            {% if files %}
                {% for photo in files %}
                    <div class="photo" id="{{photo.id}}">
                        <img src="{{photo.src}}" alt="{{photo.name}}">
                        <i class="material-icons"
                            onclick="PhotosUpload.removeOldPhoto(event)"
                        >
                        close
                        </i>
                    </div>
                {% endfor %}
                <input type="hidden" name="removed_files">
            {% endif %}
        </div>
    </div>
</div>


<div class="item">
    <div>Nome da receita</div>
    <div>
        <input 
            type="text" 
            name="title"
            value="{{recipe.title}}">
    </div>
</div>

<div class="item">
    <div>Nome do chef</div>
    <div>
        <select name="chef">
            <option 
                value="value"
                disabled="disabled"
                selected="select"
                > Selecione um chef
            </option>

            {% for chef in chefOptions %}
                
                <option value="{{chef.id}}" {% if chef.id == recipe.chef_id %} selected {% endif %}>
                    {{chef.name}}
                </option>
                
            {% endfor %}
        </select>
    </div>
</div>

<div class="item" id="ingredients">
    <div>Ingredientes</div>
    {% for ingredient in recipe.ingredients %}
        <div class="ingredients">
            <input type="text" name="ingredients[]" value="{{ingredient}}">
        </div>
    {% else %}
        <div class="ingredients">
            <input type="text" name="ingredients[]">
        </div>
    {% endfor %}
</div>
<div class="add-item add-ingredient"><a>Adcionar novo ingrediente</a></div>

<div class="item" id="step">
    <div>Modo de preparo</div>
    {% for preparation in recipe.preparation %}
        <div class="steps">
            <input type="text" name="preparation[]" value="{{preparation}}">
        </div>
    {% else %}
        <div class="steps">
            <input type="text" name="preparation[]">
        </div>
    {% endfor %}
</div>
<div class="add-item add-step"><a>Adcionar novo passo</a></div>

<div class="item">
    <div>Informações adcionais</div>
    <div>
        <textarea class="text-area" name="information">{{recipe.information}}</textarea>
    </div>
</div>
