<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        {% block head %}
            <title>Foodfy</title>
        {% endblock %}

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="stylesheet" href="/styles/cards.css">   
        <link rel="stylesheet" href="/styles/receitas.css">   
        <link rel="stylesheet" href="/styles/sobre.css">
        <link rel="stylesheet" href="/styles/chefs.css">   
    </head>

    <body>
        <header>
            <div class="menu">
                <div class="menu_width">
                    <a href="/">
                        <img src="/assets/logo.png" alt="imagem de Foodfy">
                    </a>           
            
                    <a href="/about">
                        <h2>Sobre</h2>
                    </a>
                    
                    <a href="/recipes">
                        <h2>Receitas</h2>
                    </a>

                    <a href="/chefs">
                        <h2>Chefs</h2>
                    </a>

                
                    {% block search %}{% endblock %}

                </div>
            </div>    
        </header>

        {% block content %} {% endblock %}

        <footer>
            <h3>Todos direitos reservados, receitas Foody</h3>
        </footer>

        <script src="/javascript/path.js"></script>
    </body>
</html>