<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        {% block head %}
            <title>Foodfy</title>
        {% endblock %}

        <link rel="stylesheet" href="/styles/main.css">
        <link rel="stylesheet" href="/styles/cards.css">   
        <link rel="stylesheet" href="/styles/receitas.css">   
        <link rel="stylesheet" href="/styles/sobre.css">
        <link rel="stylesheet" href="/styles/chefs.css">   
    </head>

    <body>
        <header>
            <nav>
                <a href="/">
                    <h1>Foodfy</h1>
                </a>

                <a href="/about">
                    <h2>Sobre</h2>
                </a>
                
                <a href="/recipes">
                    <h2>Receitas</h2>
                </a>

                <a href="/chefs">
                    <h2>Chefs</h2>
                </a>
            </nav>
        </header>    
        {% block content %} {% endblock %}

        <footer>
            <h3>Todos direitos reservados, receitas Foody</h3>
        </footer>
    </body>
</html>